$page-background: theme('colors.gray.900');
$content-background: theme('colors.gray.800');
$text-color: theme('colors.gray.100');
$footer-height: theme('spacing.12');

.page{
    min-height: 100vh;
    background: $page-background;
}
// mobile first demo
.content{
    flex: 1;
    padding: theme('spacing.2') theme('spacing.8');
    display: flex;
    color: $text-color;

    @media (min-width: 768px) {
        padding: theme('spacing.3') theme('spacing.8');
    }

    @media (min-width: 1024px) {
        padding: theme('spacing.4') theme('spacing.8');
    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $footer-height;
    background-color: $content-background;
    text-align: center;
    color: $text-color;
}
